html, body {
    overflow: hidden;
}

embed {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.container {
    margin-top: 2px;
    margin: 0 !important;
    width: 100%;
    height: 100%;
}
.content-wrapper{
    width: 100%;
}